extends base

block title
	| Web Socket

block h2
	| Web Socket
	i example

block content
	div(data-token= "#{token}")#chat
		ul#log
		input
		button#send

block append scripts
	script(src="/_ah/channel/jsapi")
		window.chatClient($("#chat").attr("data-token"))